@charset "UTF-8";

:root {
  --line-height: 1.62;
  --line-margin: 0.31;
  --margin: 5.28rem;/*4.76vw;*//*4.24rem;*/
  --margin-half: calc(var(--margin) * 0.5);
  --body-margin: 5.28rem;
  --section-margin: 1.38rem;
  --section-margin-child: 1rem;
  --section-margin-marged: calc(var(--section-margin) + var(--section-margin-child));
  --section-width: calc(29.03rem * 2 + 4.24rem);
  --section-width-child: 29.03rem;
  --dt-width: 23.6%;
}

@media screen and (max-width: calc((29.03rem * 2 + 4.24rem * 3) * 2)) {
  :root {
    --section-width: 100%;
  }
}

@media screen and (max-width: calc(29.03rem * 2 + 4.24rem * 3)) {
  :root {
    --section-width-child: 100%;
  }
}

@media screen and (max-width: 35rem) {
  :root {
    --margin: 1.62rem;
    --dt-width: 7em;
  }
}

* {
  font-family: 'Noto Sans JP', sans-serif; 
  font-weight: 300;
  line-height: var(--line-height);
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
  margin: 0;
  padding: 0;
  margin-top: calc(0.13em + 0.19em);
  margin-bottom: -0.19em;
  text-align: justify;
}

body {
  margin: 0;
  padding: 0;
  background-color: gray;
  padding: var(--body-margin) 0;
}

header {
  padding-top: var(--section-margin-marged);
}
header h1 {
  margin-bottom: -0.33%;
}

main {
  padding: var(--body-margin) var(--margin);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
}

div {
  margin-bottom: var(--section-margin-marged);
}

footer {
  color: white;
  padding: calc(var(--section-margin-marged));
}
footer p {
  text-align: center;
}

section {
  margin-top: var(--section-margin);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: calc(50% - var(--margin-half));
  min-width: var(--section-width);
}

section:last-child {
  margin-bottom: var(--section-margin);
}

section section {
  display: block;
  min-width: var(--section-width-child);
}

section section:last-child {
  margin-bottom: var(--section-margin-child);
}

h1 img { fill: white; };

h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
  margin-top: calc(0.38em + 0.19em);
  margin-bottom: -0.19em;
  text-align: justify;
}

h1, h2, h3, h4, h5, h6 { font-weight: 500; }
h1 { font-size: 1.62rem }
h2 { font-size: 1.38rem }
h3 { font-size: 1.23rem }
h4 { font-size: 1.13rem }
h5 { font-size: 1.09rem }
h6 { font-size: 1.03rem }

table { width: 100%; border-collapse: collapse; font-size: 0.93rem; }
th { width: 23.6%; text-align-last: justify; }
th, td { border: 1px solid black; padding: 0.38em; }
dl { font-size: 0.93rem; border: 1px solid black; padding: 0.38em 0.62em; }
dt { float: left; clear: left; width: var(--dt-width); }
dd { margin-left: var(--dt-width); }
img { vertical-align: bottom; }

